.section {
    padding: 40px 20px;
    text-align: center;

    h1 {
        color: #222;
        margin-bottom: 30px;
    }
    
    &.about-section {
        text-align: left;
    
        .about-tagline {
            font-size: 12px;
            font-style: italic;
        }
        
        .about-branding {
            width: 100%;
            max-width: 280px;
            height: auto;
        }
    }

    &.section-primary {
        border-top: 1px solid orange;
        border-bottom: 1px solid orange;
        background: #f5f5f5;
        // opacity: 0.15;
    }



}
